# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UnitTesting.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sergi\Documents\TicketsTemp\1040714\UnitTesting\.idea\.idea.UnitTesting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
